<h2>A seamless communication tool for teachers and students.</h2>

<h3>Teachers</h3>
<ul>
	<li>Easily gauge classroom comprehension levels</li>
	<li>Log questions from students</li>
	<li>Initiate real-time class polls</li>
</ul>

<h3>Students</h3>
<ul>
	<li>Raise "flags" to signal a need for help or review during a lesson</li>
	<li>Anonymously submit questions</li>
	<li>Communicate honestly with your teacher without comparing yourself to your peers</li>
</ul>

<div class="start">
	<a id="startlesson" href="{{lesson}}">Start a Lesson</a>
</div>