<h2>{{lesson}}</h2>

    <p>
        <button id="raiseflag">Raise a Flag</button>
        <div class="flags">
        </div>
    </p>

    <p>
        <input id="nickText" type="text" placeholder="e.g. SpongeBob"/>
        <button id="nick">Set Nickname</button>
    </p>

    <textarea class="chatbox"></textarea>

    <p>
        <input id="chatText" type="text"/>
        <button id="chat">Submit Question</button>
    </p>

    <button id="startpoll">Start a Poll</button>
    <div class="polls">
    </div>